<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flekdk77.shoppingmall.backoffice.dao.EventMapper">

    <select id="getEvent" resultType="com.flekdk77.shoppingmall.backoffice.dto.Event">
        SELECT
        id, title, content, created_at, created_by
        FROM
        EVENT
        ORDER BY id asc;
    </select>
    <insert id="addEvent">
        INSERT INTO
        EVENT
        (
        title,
        content,
        created_by
        )
        VALUES
        (
        #{title},
        #{content},
        #{created_by}
        )
    </insert>
</mapper>