<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flekdk77.shoppingmall.backoffice.dao.EventMapper">
    <select id="getEventTotal" resultType="int">
        SELECT
            count(*)
        FROM
            EVENT
        WHERE
        IF
        (#{title}!="",title LIKE CONCAT ('%',#{title},'%'),title LIKE '%%')
        AND
        is_show=#{is_show}
        AND
        IF
        (#{start_at}!="",start_at >#{start_at} ,start_at like '%%')
        AND
        IF
        (#{end_at}!="", #{end_at} > end_at,end_at like '%%')
    </select>
    <select id="getEvent" resultType="com.flekdk77.shoppingmall.backoffice.dto.Event">
        SELECT
            id,
            title,
            content,
            created_at,
            created_by,
            updated_at,
            updated_by,
            is_show,
            start_at,
            end_at,
            is_state
        FROM
            EVENT
        WHERE
            IF
                (#{title}!="",title LIKE CONCAT ('%',#{title},'%'),title LIKE '%%')
            AND
                is_show=#{is_show}
            AND
            IF
                (#{start_at}!="",start_at >#{start_at} ,start_at like '%%')
            AND
            IF
                (#{end_at}!="", #{end_at} > end_at,end_at like '%%')
        ORDER BY
            id asc
        LIMIT #{page}, #{countPage}
    </select>
    <insert id="addEvent">
        INSERT INTO
        EVENT
        (
        title,
        content,
        created_by,
        start_at,
        end_at
        )
        VALUES
        (
        #{title},
        #{content},
        #{created_by},
        #{start_at},
        #{end_at}
        )
    </insert>
    <select id="getEventOne" resultType="com.flekdk77.shoppingmall.backoffice.dto.Event">
        SELECT
            id,
            title,
            content,
            created_at,
            created_by,
            updated_at,
            updated_by,
            is_show,
            start_at,
            end_at
        FROM
            EVENT
        WHERE
            id=#{id}
    </select>
    <update id="updateEvent">
        UPDATE
            EVENT
        SET
            title=#{title},
            content=#{content},
            updated_by=#{created_by}
        WHERE
            id=#{id}
    </update>
    <update id="deleteEvent">
        UPDATE
            EVENT
        SET
            is_state=0
        WHERE
            id=#{id}
    </update>
</mapper>