<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flekdk77.shoppingmall.backoffice.dao.EventMapper">

    <select id="getEventTotal" parameterType="com.flekdk77.shoppingmall.backoffice.dto.GetEventListDto" resultType="int">
        SELECT
            count(*)
        FROM
            EVENT
        WHERE
            1 = 1
            <if test='title != null and title != ""'>
                AND title LIKE CONCAT('%',#{title},'%')
            </if>
                AND is_show = #{isShow}
            <if test='startAt != null and startAt != ""'>
                AND start_at > #{startAt}
            </if>
            <if test='endAt != null and endAt != ""'>
                AND   #{endAt} > end_at
            </if>
    </select>
    <select id="getEvent" parameterType="com.flekdk77.shoppingmall.backoffice.dto.GetEventListDto" resultType="com.flekdk77.shoppingmall.backoffice.dto.Event">
        SELECT
            id,
            title,
            content,
            created_at,
            created_by,
            updated_at,
            updated_by,
            is_show,
            start_at,
            end_at
        FROM
            EVENT
        WHERE
            1 = 1
            <if test='title != null and title != ""'>
                AND title LIKE CONCAT('%',#{title},'%')
            </if>
                AND is_show = #{isShow}
            <if test='startAt != null and startAt != ""'>
                AND start_at > #{startAt}
            </if>
            <if test='endAt != null and endAt != ""'>
                AND  end_at > #{endAt}
            </if>
        ORDER BY
            <if test='sort != null and sort != ""'>
                ${sort} asc,
            </if>
            id desc
        LIMIT #{startIndex}, #{rowPerPage}
    </select>
    <insert id="addEvent">
        INSERT INTO
        EVENT
        (
        title,
        content,
        created_by
        <if test='startAt != ""'>,start_at</if>
        <if test='endAt != ""'>,end_at</if>
        )
        VALUES
        (
        #{title},
        #{content},
        #{createdBy}
        <if test='startAt != ""'>,#{startAt}</if>
        <if test='endAt != ""'>,#{endAt}</if>
        )
    </insert>
    <select id="getEventOne" resultType="com.flekdk77.shoppingmall.backoffice.dto.Event">
        SELECT
            id,
            title,
            content,
            created_at,
            created_by,
            updated_at,
            updated_by,
            is_show,
            start_at,
            end_at
        FROM
            EVENT
        WHERE
            id=#{id}
    </select>
    <update id="updateEvent">
        UPDATE
            EVENT
        SET
            title=#{title},
            content=#{content},
            updated_by=#{createdBy},
            <if test='startAt == ""'>start_at=null,</if>
            <if test='startAt != ""'>start_at=#{startAt},</if>
            <if test='endAt == ""'>end_at=null</if>
            <if test='endAt != ""'>end_at=#{endAt}</if>
        WHERE
            id=#{id}
    </update>
    <update id="deleteEvent">
        UPDATE
            EVENT
        SET
            is_show=0
        WHERE
            id=#{id}
    </update>
    <update id="deleteEventArr">
        UPDATE
            EVENT
        SET
            is_show=0
        WHERE
        <foreach collection="array" item="id" open="(" close=")" separator="or">
            id=#{id.value}
        </foreach>
    </update>
</mapper>