ul,li{
    list-style:none;
    padding-left:0px;
}
ul.pagination {
    display: flex;
    justify-content: center;
}
div.margin-bottom{
    margin-bottom:30px;
}
div.table-tool {
    display: flex;
    justify-content: space-between;
}

table th.center,
table td.center {
    text-align: center;
    vertical-align: middle;
}

table th.middle,
table td.middle {
vertical-align: middle;
}

table.search-table th {
    background-color: #eee;
    vertical-align: middle;
    text-align: center;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.font-weight-bold {
    font-weight: bold;
}

.display-flex {
    display: flex;
}
footer{
    margin-top : 30px;
}
.justify-content-space-between {
    justify-content: space-between;
}
